In [67]:
import pandas as pd
data=pd.read_csv("heart.csv")
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [68]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [69]:
data.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [70]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [72]:
missingvalue=data.isnull()
print(missingvalue)

       Age    Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  \
0    False  False          False      False        False      False
1    False  False          False      False        False      False
2    False  False          False      False        False      False
3    False  False          False      False        False      False
4    False  False          False      False        False      False
..     ...    ...            ...        ...          ...        ...
913  False  False          False      False        False      False
914  False  False          False      False        False      False
915  False  False          False      False        False      False
916  False  False          False      False        False      False
917  False  False          False      False        False      False

     RestingECG  MaxHR  ExerciseAngina  Oldpeak  ST_Slope  HeartDisease
0         False  False           False    False     False         False
1         False  False           False    False     False         False
2         False  False           False    False     False         False
3         False  False           False    False     False         False
4         False  False           False    False     False         False
..          ...    ...             ...      ...       ...           ...
913       False  False           False    False     False         False
914       False  False           False    False     False         False
915       False  False           False    False     False         False
916       False  False           False    False     False         False
917       False  False           False    False     False         False

[918 rows x 12 columns]

In [73]:
missingvalue=data.isnull().sum()
print(missingvalue)

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [74]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
data["HeartDisease"]=label_encoder.fit_transform(data["HeartDisease"])
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [75]:
x1=data["Age"].mean()
x1

53.510893246187365

In [76]:
x2=data["Age"].median()
x2

54.0

In [77]:
x3=data["Age"].mode()
x3

0    54
Name: Age, dtype: int64

In [78]:
data["Age"].fillna(x1, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\413145209.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Age"].fillna(x1, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [79]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
data["Sex"]=label_encoder.fit_transform(data["Sex"])
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [80]:
sex=data["Sex"].mean()
sex

0.789760348583878

In [81]:
data["Sex"].fillna(sex, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\526808028.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Sex"].fillna(sex, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [82]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
data["ChestPainType"]=label_encoder.fit_transform(data["ChestPainType"])
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,2,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,1,130,283,0,ST,98,N,0.0,Up,0
3,48,0,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,0,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,0,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,2,138,175,0,Normal,173,N,0.0,Up,0

In [83]:
chest=data["ChestPainType"].mean()
chest

0.7810457516339869

In [84]:
data["ChestPainType"].fillna(chest, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\1295371967.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["ChestPainType"].fillna(chest, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,2,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,1,130,283,0,ST,98,N,0.0,Up,0
3,48,0,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,0,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,0,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,2,138,175,0,Normal,173,N,0.0,Up,0

In [85]:
restingbp=data["RestingBP"].mean()
restingbp

132.39651416122004

In [86]:
data["RestingBP"].fillna(restingbp, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\3124345975.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["RestingBP"].fillna(restingbp, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,2,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,1,130,283,0,ST,98,N,0.0,Up,0
3,48,0,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,0,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,0,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,2,138,175,0,Normal,173,N,0.0,Up,0

In [87]:
cholesterol=data["Cholesterol"].mean()
cholesterol

198.7995642701525

In [88]:
data["Cholesterol"].fillna(cholesterol, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\1420820298.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Cholesterol"].fillna(cholesterol, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,2,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,1,130,283,0,ST,98,N,0.0,Up,0
3,48,0,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,0,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,0,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,2,138,175,0,Normal,173,N,0.0,Up,0

In [89]:
fastingbs=data["FastingBS"].mean()
fastingbs

0.23311546840958605

In [90]:
data["FastingBS"].fillna(fastingbs, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\925396943.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["FastingBS"].fillna(fastingbs, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,2,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,1,130,283,0,ST,98,N,0.0,Up,0
3,48,0,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,0,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,0,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,2,138,175,0,Normal,173,N,0.0,Up,0

In [91]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data["RestingECG"]=label_encoder. fit_transform(data["RestingECG"])
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,N,0.0,Up,0
1,49,0,2,160,180,0,1,156,N,1.0,Flat,1
2,37,1,1,130,283,0,2,98,N,0.0,Up,0
3,48,0,0,138,214,0,1,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,1,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,N,1.2,Flat,1
914,68,1,0,144,193,1,1,141,N,3.4,Flat,1
915,57,1,0,130,131,0,1,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,0,174,N,0.0,Flat,1
917,38,1,2,138,175,0,1,173,N,0.0,Up,0

In [92]:
restingecg=data["RestingECG"].mean()
data["RestingECG"].fillna(restingecg, inplace = True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\2259811088.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["RestingECG"].fillna(restingecg, inplace = True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,N,0.0,Up,0
1,49,0,2,160,180,0,1,156,N,1.0,Flat,1
2,37,1,1,130,283,0,2,98,N,0.0,Up,0
3,48,0,0,138,214,0,1,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,1,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,N,1.2,Flat,1
914,68,1,0,144,193,1,1,141,N,3.4,Flat,1
915,57,1,0,130,131,0,1,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,0,174,N,0.0,Flat,1
917,38,1,2,138,175,0,1,173,N,0.0,Up,0

In [93]:
maxhr=data["MaxHR"].mean()
maxhr

136.80936819172112

In [94]:
data["MaxHR"].fillna(maxhr, inplace = True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\3795501734.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["MaxHR"].fillna(maxhr, inplace = True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,N,0.0,Up,0
1,49,0,2,160,180,0,1,156,N,1.0,Flat,1
2,37,1,1,130,283,0,2,98,N,0.0,Up,0
3,48,0,0,138,214,0,1,108,Y,1.5,Flat,1
4,54,1,2,150,195,0,1,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,N,1.2,Flat,1
914,68,1,0,144,193,1,1,141,N,3.4,Flat,1
915,57,1,0,130,131,0,1,115,Y,1.2,Flat,1
916,57,0,1,130,236,0,0,174,N,0.0,Flat,1
917,38,1,2,138,175,0,1,173,N,0.0,Up,0

In [95]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data["ExerciseAngina"]=label_encoder. fit_transform(data["ExerciseAngina"])
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,Up,0
1,49,0,2,160,180,0,1,156,0,1.0,Flat,1
2,37,1,1,130,283,0,2,98,0,0.0,Up,0
3,48,0,0,138,214,0,1,108,1,1.5,Flat,1
4,54,1,2,150,195,0,1,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,Flat,1
914,68,1,0,144,193,1,1,141,0,3.4,Flat,1
915,57,1,0,130,131,0,1,115,1,1.2,Flat,1
916,57,0,1,130,236,0,0,174,0,0.0,Flat,1
917,38,1,2,138,175,0,1,173,0,0.0,Up,0

In [96]:
exerciseangina=data["ExerciseAngina"].mean()
exerciseangina

0.40413943355119825

In [97]:
data["ExerciseAngina"].fillna(exerciseangina, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\858357488.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["ExerciseAngina"].fillna(exerciseangina, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,Up,0
1,49,0,2,160,180,0,1,156,0,1.0,Flat,1
2,37,1,1,130,283,0,2,98,0,0.0,Up,0
3,48,0,0,138,214,0,1,108,1,1.5,Flat,1
4,54,1,2,150,195,0,1,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,Flat,1
914,68,1,0,144,193,1,1,141,0,3.4,Flat,1
915,57,1,0,130,131,0,1,115,1,1.2,Flat,1
916,57,0,1,130,236,0,0,174,0,0.0,Flat,1
917,38,1,2,138,175,0,1,173,0,0.0,Up,0

In [98]:
oldpeak=data["Oldpeak"].mean()
oldpeak

0.8873638344226579

In [99]:
data["Oldpeak"].fillna(oldpeak, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\2264076142.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Oldpeak"].fillna(oldpeak, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,Up,0
1,49,0,2,160,180,0,1,156,0,1.0,Flat,1
2,37,1,1,130,283,0,2,98,0,0.0,Up,0
3,48,0,0,138,214,0,1,108,1,1.5,Flat,1
4,54,1,2,150,195,0,1,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,Flat,1
914,68,1,0,144,193,1,1,141,0,3.4,Flat,1
915,57,1,0,130,131,0,1,115,1,1.2,Flat,1
916,57,0,1,130,236,0,0,174,0,0.0,Flat,1
917,38,1,2,138,175,0,1,173,0,0.0,Up,0

In [100]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data["ST_Slope"]=label_encoder. fit_transform(data["ST_Slope"])
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [101]:
stslope=data["ST_Slope"].mean()
stslope

1.3616557734204793

In [102]:
data["ST_Slope"].fillna(stslope, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\4062693239.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["ST_Slope"].fillna(stslope, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [103]:
heartdisease=data["HeartDisease"].mean()
heartdisease

0.5533769063180828

In [104]:
data["HeartDisease"].fillna(heartdisease, inplace=True)
data

C:\Users\M NAVENPRATHAP\AppData\Local\Temp\ipykernel_9996\2889069385.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["HeartDisease"].fillna(heartdisease, inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [105]:
missingvalue = data.isnull().sum()
print(missingvalue)

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [106]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [107]:
x=data.drop(["Age","Sex"],axis=1)
x.head()

,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,1,140,289,0,1,172,0,0.0,2,0
1,2,160,180,0,1,156,0,1.0,1,1
2,1,130,283,0,2,98,0,0.0,2,0
3,0,138,214,0,1,108,1,1.5,1,1
4,2,150,195,0,1,122,0,0.0,2,0

In [108]:
y=data["HeartDisease"]
y.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [109]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [110]:
x_train.head()

,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
795,2,120,240,1,1,194,0,0.8,0,0
25,2,130,209,0,1,178,0,0.0,2,0
84,0,150,213,1,1,125,1,1.0,1,1
10,2,130,211,0,1,142,0,0.0,2,0
344,0,120,0,1,1,104,0,0.0,1,1

In [111]:
x_test.head()

,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
668,1,140,195,0,1,179,0,0.0,2,0
30,2,145,518,0,1,130,0,0.0,1,1
377,0,160,0,1,2,122,0,1.2,1,1
535,0,130,0,0,0,122,1,1.0,1,1
807,1,108,309,0,1,156,0,0.0,2,0

In [112]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\M NAVENPRATHAP\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [113]:
x_test

,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
668,1,140,195,0,1,179,0,0.0,2,0
30,2,145,518,0,1,130,0,0.0,1,1
377,0,160,0,1,2,122,0,1.2,1,1
535,0,130,0,0,0,122,1,1.0,1,1
807,1,108,309,0,1,156,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...
211,2,140,288,0,1,140,1,0.0,1,1
745,0,108,269,0,1,169,1,1.8,1,1
584,0,141,244,1,2,116,1,1.5,1,1
878,1,130,266,0,1,171,0,0.6,2,0
451,0,144,0,0,2,122,1,1.0,1,1

In [114]:
y_test

668    0
30     1
377    1
535    1
807    0
      ..
211    1
745    1
584    1
878    0
451    1
Name: HeartDisease, Length: 184, dtype: int64

In [115]:
y_pred=model.predict(x_test)
y_pred

array([0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1], dtype=int64)

In [116]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

1.0

In [117]:
import joblib

joblib.dump(model,'heart.pkl')

['heart.pkl']

In [127]:
import joblib
loaded_model=joblib.load('heart.pkl')
y_pred=loaded_model.predict([[0,120,0,1,1,104,0,0.0,1,1]])
y_pred

C:\Users\M NAVENPRATHAP\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)